<h1>Flights</h1>

<h2>Search for Flights</h2>

<%= form_tag(flights_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<% @flights.each do |flight| %>
<ul>
  <li><%= link_to flight.id, flight_path(flight) %></li><br>
</ul>
<% end %>

<h2>Departure Airports</h2>

<%= select_tag("code", options_for_select(@airport_options)) %>

<h2>Arrival Airports</h2>

<%= select_tag("code", options_for_select(@airport_options)) %>

<h2>Flight Dates</h2>

<%= select_tag("start", options_for_select(@flight_options)) %><br><br>

<%= link_to "Home", root_path %>
