<h1>New Booking</h1>

<h2>Date and Time: <%= @flight.start %></h2>

<h2>Departure Airport: <%= @departure_airport.code %></h2>

<h2>Arrival Airport: <%= @arrival_airport.code %></h2>

<h2>Flight ID: <%= @flight.id %></h2>

<%= form_with model: [ @flight, @flight.bookings.build ] do |form| %>
<%= form.fields_for @booking.passengers.build do |sub_form| %>
<div>
  <%= sub_form.label :name %><br>
  <%= sub_form.text_field :name %><br>
</div>

<div>
  <%= sub_form.label :email %><br>
  <%= sub_form.text_field :email %><br>
</div>

<% end %>

<div>
  <%= form.submit %>
</div>

<% end %>

<br>
<%= link_to "Back", flight_path(@flight) %><br>
<%= link_to "Home", root_path %>
